<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Profile pic:</strong>
  <%= @user.profile_pic %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Cooking expertise:</strong>
  <%= @user.cooking_expertise %>
</p>

<p>
  <strong>Favorite foods:</strong>
  <%= @user.favorite_foods %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Url:</strong>
  <%= @user.url %>
</p>

<p>
  <strong>Language:</strong>
  <%= @user.language %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
