<h2 class="signuph2">Inicia sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="form signupform">
 	<div class="form-group">
  		<label for="InputEmail1" class="signuplbl">Email</label>
  		<%= f.email_field :email, autofocus: true, class: "form-control", :id => "InputEmail1", :placeholder =>"Escribe tu email" %>
	</div>

 	<div class="form-group">
  		<label for="PasswordField" class="signuplbl">Contraseña</label>
    	<%= f.password_field :password, autocomplete: "off", class: "form-control", :id => "PasswordField", :placeholder =>"Contraseña" %>
	</div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
    	<label>
    		<%= f.check_box :remember_me, :id => "rememberchk" %> ¿Recordarme?
    	</label>
  <% end %>
	</div>
 	<%= f.submit "Iniciar Sesión", class: "btn btn-default signinaction"  %>
 	<%= link_to 'Regístrate', new_user_registration_path, :class => "btn btn-default signinaction", :id => "registerbtn" %>

</div>

<% end %>

